:root {
    color-scheme: light dark;
    --panel-bg: light-dark(#f2f2f2, #2e3437);
    --panel-fg: light-dark(#333, #eee);
    --secondary-bg: light-dark(white, #4a5259);
    --secondary-fg: light-dark(#eee, #333);
    --link: light-dark(#0078a8, #53bde8);
    --active-instruction: light-dark(#0001, #fff1);
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

side-panel {
    position: fixed;
    left: 10px;
    top: 10px;
    z-index: 2;
    width: 400px;
    max-height: calc(100% - 20px);
    display: flex;
}

leaflet-map {
    height: 100%;
    display: block;
    position: relative;
    z-index: 1;
}

@media screen and (max-width: 800px) {
    side-panel {
        width: 100vw;
        max-height: 50vh;
        position: unset;
    }

    app-popup {
        display: none; /* TODO */
    }
}