<style>
    #panel {
        background: #f2f2f2;
        padding: 1em;
        border-radius: 10px;

        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    button {
        background: #2da82d;
        border: none;
        border-radius: 10px;
        padding: .5em;
        color: white;
        font-weight: bold;
    }
</style>
<div id="panel">
    <location-input name="start" display_name="Départ"></location-input>
    <location-input name="end" display_name="Arrivée"></location-input>
    <button>Valider</button>
</div>
