body {
    margin: 0;
}

side-panel {
    position: fixed;
    left: 10px;
    top: 10px;
    z-index: 2;
}

leaflet-map {
    height: 100vh;
    display: block;
    position: relative;
    z-index: 1;
}