.container {
    display: grid;
    grid-template-columns: 75px 1fr;
    gap: 5px;
    align-items: center;
    justify-items: center;
}

label {
    font-size: 1.2em;
    color: var(--panel-fg);
}

input {
    background-color: var(--secondary-bg);
    padding: 5px;
    border: 1px solid var(--secondary-fg);
    border-radius: 5px;
    width: calc(100% - 12px);

    &:not(:focus):invalid {
        border: 1px solid red;
    }
}

.input-container {
    position: relative;
    width: 100%;
}

.suggestions {
    border: 1px solid var(--secondary-fg);
    border-radius: 5px;
    background: var(--secondary-bg);
    padding: 1px;
    margin: 0;

    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

.suggestions > li {
    padding: 10px 5px;
    margin: 0;
    list-style-type: none;
    border-radius: 5px;
}

.suggestions > li:hover {
    background-color: royalblue;
    color: white;
}

.suggestions.hide {
    display: none;
}
