<style>
    .app-popup {
        position: fixed;
        right: 25px;
        top: 25px;
        z-index: 3;

        padding: 20px;
        height: 75px;
        width: 350px;
        border-radius: 10px;

        background-color: var(--panel-bg);
        box-shadow: 0 4px 8px #0003;
        align-content: center;
    }

    .app-popup #text {
        overflow: auto;
        max-height: 100%;

        color: var(--panel-fg);
        font-size: 16px;
        text-align: center;
        font-family: Arial, sans-serif;
    }
</style>

<div class="app-popup">
    <div id="text">
        Lorem ipsum odor amet, consectetuer adipiscing elit. Non etiam himenaeos nec potenti facilisi. Eget
        egestas nec nisi est potenti rhoncus sociosqu hac.
    </div>
</div>