<style>
    #panel {
        background-color: var(--panel-bg);
        color: var(--panel-fg);
        padding: 1em;
        border-radius: 10px;

        display: flex;
        flex-direction: column;
        gap: 1em;

        width: 100%;
    }

    button {
        border: none;
    }

    #invertBtn {
        width: 20px;
        height: 20px;
        background: none;
        padding: 0;
        margin-left: 27px;

        img {
            width: 100%;
            height: 100%;

            @media (prefers-color-scheme: dark) {
                & {
                    filter: invert();
                }
            }
        }
    }

    #sendBtn {
        width: 100%;
        margin-top: 1em;
        background: #2da82d;
        border-radius: 10px;
        padding: .5em;
        color: white;
        font-weight: bold;
    }

    #instructions {
        overflow-y: auto;
        position: relative;

        &:empty {
            display: none;
        }

        & > * {
            display: block;

            &:not(:last-child) {
                border-bottom: 1px solid lightgray;
            }
        }
    }

    #info {
        display: grid;
        grid-template: 1fr / 1fr 1fr;

        &.hidden {
            display: none;
        }

        p {
            margin: 0;
        }
    }
</style>
<div id="panel">
    <div>
        <location-input id="startInput" name="start" display_name="Départ"></location-input>
        <button id="invertBtn"><img src="/assets/icons/invert.png" alt="Inverser"></button>
        <location-input id="endInput" name="end" display_name="Arrivée"></location-input>
        <button id="sendBtn">Valider</button>
    </div>
    <div id="info" class="hidden">
        <p>Durée: <span id="duration"></span></p>
        <p>Distance: <span id="distance"></span></p>
    </div>
    <div id="instructions"></div>
</div>
