<style>
    #panel {
        background: #f2f2f2;
        padding: 1em;
        border-radius: 10px;

        display: flex;
        flex-direction: column;
        gap: 1em;
        
        width: 25em;
    }

    button {
        border: none;
    }

    #invertBtn {
        width: 20px;
        height: 20px;
        background: none;
        padding: 0;
        margin-left: 27px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    #sendBtn {
        width: 100%;
        margin-top: 1em;
        background: #2da82d;
        border-radius: 10px;
        padding: .5em;
        color: white;
        font-weight: bold;
    }

    #instructions {
        overflow-y: auto;

        &:empty {
            display: none;
        }

        & > * {
            display: block;

            &:not(:last-child) {
                border-bottom: 1px solid lightgray;
            }
        }
    }
</style>
<div id="panel">
    <div>
        <location-input id="startInput" name="start" display_name="Départ"></location-input>
        <button id="invertBtn"><img src="/assets/icons/invert.png" alt="Inverser"></button>
        <location-input id="endInput" name="end" display_name="Arrivée"></location-input>
        <button id="sendBtn">Valider</button>
    </div>
    <div id="instructions"></div>
</div>
